<!-- <div class="display-5 m-5" *ngFor="let node of nodes">
  <fa-icon
    class="icon"
    (click)="openSubMenu(node.title)"
    [icon]="faPlusCircle"
  ></fa-icon>
  {{ node.title }}
  <button (click)="addChild(node)">Add Child</button>

   <app-node></app-node> 

  <div *>
    <div class="display-5 m-5" *ngFor="let node of rootLeve1Nodes">
      <fa-icon
        class="icon"
        (click)="openSubMenu(node.title)"
        [icon]="faPlusCircle"
      ></fa-icon>
      {{ node.title }}
      <button (click)="addChild(node)">Add Child</button>
    </div>
  </div>
</div> -->

<div class="display-5 m-5">
  <section>
    <fa-icon
      (click)="ShowLevel1('company')"
      class="icon"
      [icon]="faPlusCircle"
    ></fa-icon>
    <span>Company</span>

    <!-- LEVEL-1 -->
    <div *ngIf="level1Menu" class="ms-5 mt-3">
      <div class="display-5 m-4" *ngFor="let node of rootLeve1Nodes">
        <fa-icon
          (click)="showLevel2(node.title)"
          class="icon"
          [icon]="faPlusCircle"
        ></fa-icon>

        <span class="m-2">{{ node.title }}</span>

        <!-- LEVEL-2 -->
        <div class="ms-5 mt-3" *ngIf="node.title === nodeTitle2">
          <div *ngIf="level2Menu">
            <div class="display-5 m-4" *ngFor="let node of rootLeve2Nodes">
              <fa-icon
                (click)="showLevel3(node.title)"
                class="icon"
                [icon]="faPlusCircle"
              ></fa-icon>

              <span class="m-2">{{ node.title }}</span>

              <!-- LEVEL-3 -->
              <div class="ms-5 mt-3" *ngIf="node.title === nodeTitle3">
                <div *ngIf="level3Menu">
                  <div
                    class="display-5 m-4"
                    *ngFor="let node of rootLeve3Nodes"
                  >
                    <fa-icon
                      (click)="showLevel3(node.title)"
                      class="icon"
                      [icon]="faPlusCircle"
                    ></fa-icon>

                    <span class="m-2">{{ node.title }}</span>
                  </div>
                </div>
              </div>
              <!-- LEVEL -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- LEVEL-2 -->
</div>
<div></div>
